
body{
    margin: 0;
}

/*--------------Navigation bar------------------- please fix navbar margin top*/
.navbar{  
    list-style-type: none;
    border-right: 3px solid gray;
    padding:0;
    margin: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: sans-serif;
   
 
  }

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.option .optiontag {
    display: block;
    color: #000;
    padding: 15px 16px 15px 25px;
    text-decoration: none;
    border-top: 0.1px solid gray;
    border-bottom: 0.1px  solid gray;
    border-right: 0;

  }

#navtitle{
    text-align: center;
}


/*-----------------Content-------------------*/


#Introduction{
  border-top: 1px solid gray !important;
}

#Reference{
  border-bottom: 1px solid gray !important;
}

.content{
  margin-left: 23%;
  margin-right: 5%;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

br{
  display: block;
  content: "";
  margin: 10px 0;
}

p{
  font-size: 18px;
  margin-left: 2%;
}

.listdesc{
  margin-left: 4%;
}

.inbox{
  border: 1px solid #f1f1f1;
  width: 100%;
  background-color: #f1f1f1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  font-size: 12px;
  margin-left: 3%;
}

.listseconddesc{
  margin-left: 2%;
}
